#### Import packages   
Packages such pandas, regex

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('unstructured.csv')
df

,Unique_id,Company,Text,fetch_response
0,1,intel,@chat It is good to see you here.,NaN
1,2,intel,@person how are you 12233454,1.0
2,3,intel,@person i need some help in getting pricing of...,4.0
3,4,intel,@chat okay please be more specific,5.0
4,5,intel,@person Get me the rate of i7 please,6.0
5,6,intel,@chat it is about 40k.,7.0
6,7,intel,@person thanks,8.0
7,8,intel,@chat come again.,NaN

#### Remove the NaN values from the fetch response

In [3]:
new_df = df.copy()
new_df = new_df[~new_df.fetch_response.isnull()]
new_df

,Unique_id,Company,Text,fetch_response
1,2,intel,@person how are you 12233454,1.0
2,3,intel,@person i need some help in getting pricing of...,4.0
3,4,intel,@chat okay please be more specific,5.0
4,5,intel,@person Get me the rate of i7 please,6.0
5,6,intel,@chat it is about 40k.,7.0
6,7,intel,@person thanks,8.0

In [4]:
def integer_2_text(df, x):
    row = df[df.Unique_id == int(x)]
    return '' if (len(row) == 0) else row.iloc[0]['Text']

In [5]:
new_df.loc[:, 'fetch_response'] = new_df.fetch_response.apply(
    lambda x: integer_2_text(df, x))

In [6]:
new_df

,Unique_id,Company,Text,fetch_response
1,2,intel,@person how are you 12233454,@chat It is good to see you here.
2,3,intel,@person i need some help in getting pricing of...,@chat okay please be more specific
3,4,intel,@chat okay please be more specific,@person Get me the rate of i7 please
4,5,intel,@person Get me the rate of i7 please,@chat it is about 40k.
5,6,intel,@chat it is about 40k.,@person thanks
6,7,intel,@person thanks,@chat come again.

In [7]:
new_df.rename(columns={'Unique_id': 'Unique_id', 'Text': 'answer', 'fetch_response': 'question'},
                           inplace=True)
new_df = new_df[['Unique_id', 'question', 'answer']]

In [8]:
new_df

,Unique_id,question,answer
1,2,@chat It is good to see you here.,@person how are you 12233454
2,3,@chat okay please be more specific,@person i need some help in getting pricing of...
3,4,@person Get me the rate of i7 please,@chat okay please be more specific
4,5,@chat it is about 40k.,@person Get me the rate of i7 please
5,6,@person thanks,@chat it is about 40k.
6,7,@chat come again.,@person thanks

In [20]:
def clean_text(data):
    data = ' '.join(word for word in data.split(' ') if not word.startswith('@'))
    data = re.sub(r'\d+$', '', data)
    return data

In [21]:
new_df.loc[:, 'question'] = new_df.question.apply(clean_text)
new_df.loc[:, 'answer'] = new_df.answer.apply(clean_text)

/home/paradise/.local/lib/python3.5/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [22]:
new_df

,Unique_id,question,answer
1,2,It is good to see you here.,how are you
2,3,okay please be more specific,i need some help in getting pricing of processors
3,4,Get me the rate of i7 please,okay please be more specific
4,5,it is about 40k.,Get me the rate of i7 please
5,6,thanks,it is about 40k.
6,7,come again.,thanks

In [19]:
new_df.to_csv('processed.csv')